<div class="d-flex justify-content-center">
  <h1><strong>Login page</strong></h1>
</div>
<div class="card row">
  <div class="card-body">
    <div class="col-4 offset-4">
      Username: <input id="user" type="text" name="user" class="form-control">
    </div>
    <div class="col-4 offset-4 mt-3">
      Password: <input id="pass" type="password" name="pass" class="form-control">
    </div>
    <div class="col-4 offset-4 mt-3">
      <%#= link_to "Signup", signup_path, class: "btn btn-primary float-start" %>
      <button id="submit-login-form" class="btn btn-primary float-end">Login</button>
    </div>
    <div class="col-4 offset-4 mt-10">
      <p class="col-4 offset-4 mt-3" id="notice"></p>
    </div>
  </div>
</div>
<%= javascript_pack_tag "login_ajax" %>
